extends ./application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-2
				form
					.form-group
						label(for="")  Header
						input(type="" class="form-control" name = "" )
					.form-group
						label(for="exampleTextarea") Message
						textarea(class="form-control" id="exampleTextarea" rows="10")
					button(type="button" class="btn btn-success") Success
