extends ../application.pug
block content
	.container
		.row
			.col-xs-8.offset-xs-2
				form(action= "/users" method= "POST")
					.form-group
						label(for="")  Name
						input(type="" class="form-control" name="name" )
					.form-group
						label(for="")  Surname
						input(type="" class="form-control" name="surname" )
					.form-group
						label(for="")  Email
						input(type="" class="form-control" name="email" )
					.form-group
						label(for="")  Username
						input(type="" class="form-control" name="username" )
					.form-group
						label(for="") Passward
						input(type="" class="form-control" name="passward" )

					button(type="submit" class="btn btn-success") Submit
