extends ../application.pug
block content

	.container
		.row
			.col-xs-8.offset-xs-2
				form(action= "/admin/posts/"+ blog.id method="POST" )
					input(type="hidden" name="_method" value="PUT")
					.form-group
						label(for="")  Title
						input(type="" class="form-control" name="title" value= blog.title)
					.form-group
						label(for="")  Slug
						input(type="" class="form-control" name="slug" value= blog.slug)
					.form-group
						label(for="exampleTextarea") Content
						textarea(class="form-control" id="exampleTextarea" rows="10" name="content" value=blog.content)
					button(type="submit" class="btn btn-success" ) Submit
